[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-time-zone=+08:00
explicit_defaults_for_timestamp=ON
sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
innodb-file-per-table=ON
innodb-flush-log-at-trx-commit=1
sync-binlog=1
binlog-format=ROW
log-bin=mysql-bin
expire-logs-days=14
slow-query-log=ON
long-query-time=1
max-connections=200
skip-name-resolve=ON

[client]
default-character-set=utf8mb4
