// base color
$blue:#8C6A36;
$light-blue:#B8945A;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#E7D4AC;
$panGreen: #30B08F;

// sidebar
$menuText:#d8cdbd;
$menuActiveText:#f7e7c4;
$subMenuActiveText:#f7e7c4; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#2A2620;
$menuHover:#3B342A;

$subMenuBg:#241f1a;
$subMenuHover:#3B342A;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
